.w3-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#ccc !important}
.w3-theme-l3 {color:#eee !important; background-color:#999 !important}
.w3-theme-l2 {color:#eee !important; background-color:#666 !important}
.w3-theme-l1 {color:#eee !important; background-color:#333 !important}
.w3-theme-d1 {color:#eee !important; background-color:#000 !important}
.w3-theme-d2 {color:#eee !important; background-color:#000 !important}
.w3-theme-d3 {color:#eee !important; background-color:#000 !important}
.w3-theme-d4 {color:#eee !important; background-color:#000 !important}
.w3-theme-d5 {color:#eee !important; background-color:#000 !important}

.w3-theme-light {color:#000 !important; background-color:#f0f0f0 !important}
.w3-theme-dark {color:#eee !important; background-color:#000 !important}
.w3-theme-action {color:#eee !important; background-color:#000 !important}

.w3-theme {color:#eee !important; background-color:#000 !important}
.w3-text-theme {color:#000 !important}
.w3-border-theme {border-color:#000 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#f0f0f0 !important}
.w3-hover-border-theme:hover {border-color:#000 !important}
