
.icon-lock:before { content: '\e800'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */